anthropic==0.21.3
datasets==2.18.0
einops
nltk
accelerate==0.27.2
bitsandbytes==0.42.0
tabulate
transformers==4.39.2
statsmodels
tiktoken==0.6.0
pandas
matplotlib
markdown
scikit-learn
sentencepiece
pandas
wandb
fire
openai==0.27.2
jupyter
notebook
sentence_transformers==2.6.1